@font-face {
    font-family: "Rubik";
    src:
            url("Fonts/regular/Rubik-Regular.woff") format("woff"),
            url("Fonts/regular/Rubik-Regular.woff2") format("woff2"),
            url("Fonts/regular/Rubik-Regular.eot") format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src:
            url("Fonts/medium/Rubik-Medium.woff") format("woff"),
            url("Fonts/medium/Rubik-Medium.woff2") format("woff2"),
            url("Fonts/medium/Rubik-Medium.eot") format("embedded-opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src:
            url("Fonts/bold/Rubik-Bold.woff") format("woff"),
            url("Fonts/bold/Rubik-Bold.woff2") format("woff2"),
            url("Fonts/bold/Rubik-Bold.eot") format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
}


html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Rubik", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    flex: 0 0 auto;
}

.page-content {
    flex: 1 0 auto;
    padding-bottom: 64px;
}

.page-footer {
    flex: 0 0 auto;
    background-color: #F2F2F2;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: 0.2s;
}

.btn--red {
    color: white;
    background-color: #E5261E;
    height: 38px;
    width: 113px;
}

.btn--red:hover {
    background-color: #CC221B;
}

.btn--transparent {
    color:#E5261E;
    background-color: transparent;
}

button, input, textarea {
    font: inherit;
}

ul {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.link {
    text-decoration: none;
}

.link--phone {
    color: #333333;
    display: inline-flex;
    margin-top: 6px;
}

.link--creator {
    color: #1F4766;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}